

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Regular.ttf") format("ttf");
}

html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.2rem;
}

p {
    max-width: 70ch;
    line-height: 1.5;
}

header {
    height: 55vh;
    background-image: url("./assets/img/studentsbg.png");
    background-position: center top;
    background-size: contain;
    background-attachment: fixed;
    object-fit: cover;
    position: relative;
    margin-bottom: 6rem; /* todo: fix me (maybe) */
}

header div {
    background-color: #c5192d;
    color: #ffffff;
    padding: 2rem;
    position: absolute;
    bottom: -4rem;
    width: 95vw;    
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

header div p {
    margin: 0 auto;
}

img {
    width: 100%;
    display: inline-block;
    object-fit: contain;
}

main {
    width: 95vw;
    background-color: whitesmoke;
    box-shadow: 0 0 1px 0 darkgrey;
    margin: 0 auto;
}

article {
    padding: 2rem;
}

article:nth-of-type(2){
    border-bottom: 0.1px solid;
}

article:nth-of-type(3){
    transform: scaleY(-1);
}

article:nth-of-type(3) div{
    transform: scaleY(-1);
}

article:nth-of-type(3) img{
    transform: scaleY(-1);
}

#intro-container {
    background-color: #c5192d;
}

#intro-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#intro-container ul li:nth-child(1)::before {
    content: "\1F64C";
    width: 1rem;
    margin: 1rem 1rem 0rem 1rem;
}

#intro-container ul li:nth-child(2)::before {
    content: "\1F3EB";
    width: 1rem;
    margin: 1rem 1rem 0rem 1rem;
}
  
#intro-container ul li:nth-child(3)::before {
    content: "\1F4DA";
    width: 1rem;
    margin: 1rem 1rem 0rem 1rem;
}

footer {
    background-color: #c5192d;
    color: #ffffff;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    text-align: center;
    width: 95vw;
}

footer a {
    color: #ffffff;
}

/* Old emoji CSS    
#intro-container ul li:nth-child(3n+1)::before {
    content: "\1F64C";
    width: 1rem;
    margin: 1rem 1rem 0rem 1rem;
}

#intro-container ul li:nth-child(3n+2)::before {
    content: "\1F3EB";
    width: 1rem;
    margin: 1rem 1rem 0rem 1rem;
}
  
#intro-container ul li:nth-child(3n)::before {
    content: "\1F4DA";
    width: 1rem;
    margin: 1rem 1rem 0rem 1rem;
}
*/

/*
#intro-container
This is the first article inside the main container. 
•Look at the mock-up and decide what padding/margin you should use (Figure 1)
•The colour of the background is #c5192d (hint: you may need to use pseudo-elements to create this background. If so, you may need to adjust the z-index of the different elements. The z-index accepts both negative and positive values)Figure 1intro-container article box model
•The bullet points of the list will be hidden. You must also use CSS (pseudo-elements) to add the emojis in front of the <li> content. Each emoji will have a width of 1rem and the top and its right and left margins will be set to 1rem•The CSS code for the emojis is as followso\1F64Co\1F3EBo\1F4DA
*/

/*Other <article>s      
You may notice that the “odd” articles (except the first one) have the <img> first (html code) and then the div with the text. Therefore, the images might be displayed in a way that it is not consistend for the user (see Figure 2).
•(Optional task) make sure the text will be displayed on top of the images in all the articles (HINT: check the following codepenand remember that flexbox and grid layout are not allowed)*/